.sign_up_consultation {
    background-color: $primary;
    padding: 14px 0px;

    .inner {
        position: relative;

        .text {
            font-size: 10px;
            font-weight: 700;
            color: #fff;
            text-align: center;
        }

        .icon {
            display: inline-flex;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
}

.header_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .global,
    .cart_icon {
        display: inline-flex;
        flex-shrink: 0;
        cursor: pointer;
    }

    .my_account {
        font-size: 14px;
        font-weight: 500;
        padding-left: 32px;
        color: #0A0A0A;
        cursor: pointer;
        position: relative;

        .accountCTA {
            position: absolute;
            top: 100%;
            right: 0px;
            display: none;
        }

        &:hover {
            .accountCTA {
                display: block;
            }
        }
    }

    .cart_icon {
        position: relative;

        .count {
            position: absolute;
            width: 11px;
            height: 11px;
            background-color: #FF0023;
            border-radius: 50%;
            overflow: hidden;
            color: #FFFFFF;
            font-size: 8px;
            font-weight: 700;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            right: 1px;
            top: 2px;
            border: 1px solid #fff;
        }

        .icon {
            display: inline-flex;
        }

        &:hover {
            .cart_mini {
                display: block !important;
            }
        }

        .cart_mini {
            display: none;
            position: absolute;
            background-color: #FAFAFA;
            right: 0px;
            width: 372px;
            top: 100%;
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
            -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
            -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
            z-index: 999;
            border-radius: 8px;
            padding: 20px;

            .bottom {
                .row {
                    --bs-gutter-x: 8px;
                }

                .link_1 {
                    width: 100%;
                    padding: 12px;
                    background-color: $primary;
                    color: #fff;
                    display: flex;
                    border-radius: 8px;
                    justify-content: center;
                    text-decoration: none !important;
                    font-size: 16px;
                    font-weight: 600;
                    border: 1px solid $primary;
                }

                .link_2 {
                    width: 100%;
                    padding: 12px;
                    background-color: #fff;
                    color: $primary;
                    display: flex;
                    border-radius: 8px;
                    justify-content: center;
                    text-decoration: none !important;
                    font-size: 16px;
                    font-weight: 600;
                    border: 1px solid $primary;
                }
            }

            .sub_total {
                padding: 20px 0px;

                .title {
                    font-size: 16px;
                    font-weight: 700;
                    color: #7D7D7D;
                }

                .price {
                    text-align: end;
                    color: #000000;
                    font-size: 16px;
                    font-weight: 700;
                }

                .row {
                    --bs-gutter-x: 16px;
                }
            }

            .shipping {
                display: flex;
                padding: 12px 16px;
                border-radius: 8px;
                background-color: #EBF1FE;
                gap: 12px;
                align-items: center;
                margin-bottom: 20px;

                .icon {
                    display: inline-flex;
                    flex-shrink: 0;
                }

                .text {
                    color: $primary;
                    font-size: 12px;
                    font-weight: 600;
                }
            }

            .list_product {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-bottom: 20px;
                border-bottom: 1px solid #E1E1E1;

                .item {
                    .row {
                        --bs-gutter-x: 16px;
                    }

                    .img_wrap {
                        padding: 6px;
                        border-radius: 7px;
                        border: 1px solid #E6E6E6;

                        img {
                            width: 100%;
                            aspect-ratio: 112 / 92;
                            object-fit: cover;
                            height: auto;
                        }
                    }

                    .content {
                        .title {
                            color: #0A0A0A;
                            font-size: 18px;
                            font-weight: 700;
                            margin-bottom: 4px;
                            text-decoration: none;
                            display: flex;

                            &:hover {
                                color: $primary;
                            }
                        }

                        .type {
                            color: #0A0A0A;
                            font-size: 14px;
                            font-weight: 600;
                            margin-bottom: 4px;

                            .variation {
                                display: flex;
                                gap: 4px;

                                dt,
                                dd {
                                    margin: 0px;
                                }
                            }
                        }

                        .total {
                            color: #0A0A0A;
                            font-size: 14px;
                            font-weight: 600;

                            // .price {
                            //     color: $primary;
                            // }
                        }
                    }
                }
            }
        }
    }
}

.home_banner {
    .home_banner_slider {
        &.slick-dotted.slick-slider {
            margin-bottom: 0px !important;
        }

        .slick-dots {
            bottom: 60px;
            text-align: start;
            padding-left: 12px;

            @include media-breakpoint-up(sm) {
                padding-left: calc((100% - 480px + 24px) / 2);
            }

            @include media-breakpoint-up(md) {
                padding-left: calc((100% - 768px + 24px) / 2);
            }

            @include media-breakpoint-up(lg) {
                padding-left: calc((100% - 1200px + 24px) / 2);
            }

            li {

                button {
                    background-color: rgba(#FFFFFF, 0.12);
                }

                &.slick-active {
                    button {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    .item {
        min-height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include media-breakpoint-up(lg) {
            min-height: 70vh;
        }

        .content {
            padding-bottom: 127px;

            .title {
                font-size: 40px;
                font-weight: 700;
                color: #fff;
                margin-bottom: 8px;
                line-height: 1.1 !important;

                @include media-breakpoint-up(lg) {
                    font-size: 72px;
                }
            }

            .desc {
                font-size: 18px;
                color: rgba(#fff, 0.8);
                margin-bottom: 32px;

                @include media-breakpoint-up(lg) {
                    font-size: 24px;
                }
            }
        }
    }
}

.home_best_selling {
    .heading {
        margin: 0px;
        background: #F4F5F7;
        background: linear-gradient(270deg, rgba(244, 245, 247, 1) 0%, rgba(226, 231, 245, 1) 100%);

        .title {
            padding: 32px 0px;
            font-size: 28px;
            font-weight: 700;
            margin: 0px;
            text-align: center;

            @include media-breakpoint-up(lg) {
                font-size: 32px;
            }
        }
    }

    .best_selling_slider {
        background: #F4F5F7;
        background: linear-gradient(172deg, rgba(244, 245, 247, 1) 30%, rgba(155, 176, 233, 1) 100%);

        .slick-current.slick-active {
            .content {
                opacity: 1;
            }
        }

        &.slick-dotted.slick-slider {
            margin-bottom: 50px;

            .slick-dots {
                bottom: -50px;
            }
        }

        .best_selling_item {
            padding: 50px 0px 85px 0px;
            text-align: center;

            @include media-breakpoint-down(md) {
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 40px;
                padding-bottom: 40px;
            }

            .content {
                opacity: 0;
            }

            .title {
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 0px;

                @include media-breakpoint-up(lg) {
                    font-size: 44px;
                }
            }

            .desc {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 24px;
            }

            .feature {
                margin-bottom: 32px;

                .row {
                    --bs-gutter-x: 24px;
                    gap: 16px;
                }

                .value {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 0px;
                }

                .title {
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 0px;
                }
            }

            .list_btn {
                display: flex;
                justify-content: center;
                gap: 16px;
                margin-bottom: 56px;
            }

            .img_wrap {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}


.home_about_us {
    padding: 24px 0px;

    .item_box {
        padding: 24px;
        background-color: #F6F7F9;
        border-radius: 12px;
        height: 100%;

        .title {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 12px;
        }

        .desc {
            margin-bottom: 24px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.home_box_cta {
    .inner {
        padding: 38px 24px;
        border-radius: 12px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        .content {
            .title {
                font-size: 32px;
                font-weight: 700;
                color: #FFFFFF;
                margin-bottom: 12px;
            }

            .desc {
                color: #FFFFFF;
                margin-bottom: 24px;
            }
        }
    }
}

.home_endow {
    padding: 48px 0px;

    .row {
        .col-lg-3 {
            border-right: 1px solid rgba(#000, 0.04);

            &:last-child {
                border-right: none;
            }
        }
    }

    .item {
        display: flex;
        gap: 24px;
        align-items: center;
        padding: 16px;

        .icon {
            flex-shrink: 0;
        }

        img {
            width: 48px;
            height: 48px;
            object-fit: cover;
        }

        .content {
            .title {
                font-size: 24px;
                font-weight: 700;
                margin: 0px;
            }

            .desc {
                @include line-clamp(2);
            }
        }
    }
}

.home_more_info {
    padding-top: 44px;
    padding-bottom: 74px;

    .item {
        position: relative;
        padding-bottom: 54%;
        border-radius: 12px;
        overflow: hidden;

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding: 24px;
            background: rgba(0, 0, 0, 0.6);
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 100%);
            width: 100%;

            .title {
                font-size: 20px;
                font-weight: 700;
                color: #fff;
                margin: 0px;

                @include media-breakpoint-up(lg) {
                    font-size: 24px;
                }
            }

            .link {
                display: inline-flex;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


.home_form_contact {
    border-top: 1px solid rgba(#000, 0.1);

    .img_wrap {
        height: 100%;
        min-height: 600px;
        position: relative;

        img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .inner {
        padding: 40px 12px;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;

        @include media-breakpoint-up(lg) {
            padding: 32px 48px;
        }

        .content {
            max-width: 600px;
            width: 100%;

            @include media-breakpoint-up(lg) {
                max-width: 450px;
            }

            .logo {
                display: flex;
                justify-content: center;
                margin-bottom: 32px;

                img {
                    height: 32px;
                    width: auto;
                }
            }

            .title {
                font-size: 28px;
                font-weight: 900;
                margin-bottom: 12px;
                text-align: center;

                @include media-breakpoint-up(lg) {
                    font-size: 36px;
                }
            }

            .desc {
                margin-bottom: 32px;
                text-align: center;
            }
        }
    }
}

.menu_products {
    display: none;
    z-index: 99;
    position: fixed;
    left: 0px;
    width: 100%;

    .nav-tabs {
        background-color: #ECEDED;
        gap: 36px;
        border-bottom: 1px solid #E3E4E4;
        border-top: 1px solid #E3E4E4;

        .nav-link {
            padding: 0px 16px;
            border: none;
            border-radius: 0px;

            span {
                padding: 16px 0px;
                font-size: 16px;
                font-weight: 700;
                color: #8E8E8E;
                display: inline-flex;
                position: relative;
                text-transform: uppercase;
            }

            &.active {
                background-color: #D9DFEA;

                span {
                    color: #3E6AE1;

                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        border-radius: 120px;
                        bottom: 0px;
                        left: 0px;
                        background-color: #3E6AE1;
                    }
                }
            }
        }
    }
}


.tab_product_slider {
    &.slick-slider {
        margin: 0px;
    }

    .slick-slide {
        padding: 0px;
    }


}


.product_loop_item {
    padding: 12px 36px;
    background:
        linear-gradient(60deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%),
        #F6F7F7;

    .img_wrap {
        // padding: 12px 36px;
        margin-bottom: 12px;

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 205 / 140;
            object-fit: cover;
        }
    }

    .content {
        .title {
            color: #000000;
            font-size: 20px;
            font-weight: 700;
            margin: 0px;
        }

        .link {
            color: $primary;
            text-decoration: none;
            font-size: 10px;
            font-weight: 700;
        }

        .real_price {
            color: #565656;
            font-size: 14px;
            font-weight: 700;

            * {
                text-decoration: none !important;
            }

            del {
                display: none !important;
            }
        }

        .old_price {
            color: #A4A4A4;
            font-size: 10px;
            font-weight: 600;
            text-decoration: line-through;
        }
    }
}

.home_latest_news {
    padding: 40px 0px;

    .heading {
        margin-bottom: 48px;

        .title {
            color: #000;
            font-size: 32px;
            font-weight: 700;
        }

        .link {
            text-decoration: none !important;
            display: flex;
            align-items: center;
            gap: 8px;

            .text {
                color: $primary;
                font-size: 20px;
                font-weight: 700;
            }

            .icon {
                display: inline-flex;
            }
        }
    }
}

.post_item {
    border-radius: 12px;
    border: 1px solid #DEDEE0;
    overflow: hidden;
    background-color: #fff;

    .img_wrap {
        display: flex;

        img {
            width: 100%;
            aspect-ratio: 424 / 270;
            object-fit: cover;
        }
    }

    .content {
        padding: 24px 20px;

        .date {
            margin-bottom: 4px;
            font-size: 16px;
            font-weight: 600;
            color: #333;
        }

        a {
            text-decoration: none !important;
        }

        .title {
            font-size: 24px;
            font-weight: 700;
            color: #000000;
            transition: all 0.3s;
            @include line-clamp(2);

            &:hover {
                color: $primary;
            }
        }
    }
}

.menu_san_pham {
    cursor: pointer;
    user-select: none;
}

.brc_woo {
    background-color: #F7F7F7;
    padding: 12px 0px;

    .list {
        display: flex;
        justify-content: center;
        align-items: center;

        .item {
            display: inline-flex;
            font-size: 14px;
            font-weight: 500;
            color: #313131;
            text-decoration: none !important;
            border-radius: 6px;
            padding: 4px;

            &.active {
                padding: 4px 8px;
                background-color: #E4E9F4;
                font-weight: 600;
                color: $primary;
            }
        }

        .icon {
            display: inline-flex;
        }
    }
}

/* Container chính */
.register_container {
    max-width: 486px;
    margin: 0 auto;
    padding: 0px;
}

/* Tiêu đề */
.register_title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 36px;
}

/* Form */
.register_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Nhóm input */
.register_form_group input {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #E5E5E5;
    color: #000;
    border-radius: 4px;
    outline: none !important;

    &::placeholder {
        color: #7F7F7F;
        font-size: 16px;
        font-weight: 600;
    }

    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: right 16px top 12px;

    &[name="name"] {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 22H5V20.1905C5 17.6921 6.95876 15.6667 9.375 15.6667H14.625C17.0412 15.6667 19 17.6921 19 20.1905V22ZM12 13.8571C9.1005 13.8571 6.75 11.4267 6.75 8.42857C6.75 5.43045 9.1005 3 12 3C14.8995 3 17.25 5.43045 17.25 8.42857C17.25 11.4267 14.8995 13.8571 12 13.8571Z' fill='black' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    }

    &[name="email"] {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12.0606 11.6829L5.64722 6.2377L4.35278 7.7623L12.0731 14.3171L19.6544 7.75616L18.3456 6.24384L12.0606 11.6829Z' fill='black' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    }
}

/* Password rules */
.register_password_rules {
    margin-top: 20px;
    margin-bottom: 20px;
}

.register_password_rules_title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
}

.register_password_rules_list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.register_password_rules_item {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    gap: 8px;
    align-items: center;

    .icon {
        display: inline-flex;
    }
}

/* Policy */
.register_policy {
    font-size: 14px;
    color: #666666;
    margin-bottom: 4px;
    margin-top: 20px;
}

.register_policy_link {
    color: #5643FF !important;
    text-decoration: none;
}

.register_policy_link:hover {
    text-decoration: underline;
}

/* Nút bấm */
.register_btn {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    justify-content: center;
}

.register_btn_primary {
    background: #fff;
    border: 1px solid #3E6AE1 !important;
    color: #3E6AE1 !important;
}

.register_btn_secondary {
    background: #3E6AE1;
    color: #fff;
}

/* Login text */
.register_login_text {
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Error text */
.text_danger {
    color: #d32f2f;
    font-size: 14px;
    margin-top: 4px;
    display: block;
}

.register_form_group_pass {
    position: relative;

    .icon_eye {
        position: absolute;
        right: 16px;
        top: 12px;
        cursor: pointer;
        z-index: 9;
    }
}

/* Container chính */
/* Box login */
.auth_box {
    width: 100%;
    max-width: 486px;
    margin: 0 auto;
}

/* Tiêu đề */
.auth_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 36px;
    color: #000000;
}

/* Form group */
.auth_form_group {
    margin-bottom: 12px;

    &.register_form_group_pass {
        margin-bottom: 24px;
    }
}

.auth_label {
    font-size: 14px;
    font-weight: 500;
    color: #374151;
    margin-bottom: 8px;
}

.auth_input {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #E5E5E5;
    color: #000;
    border-radius: 4px;
    outline: none !important;

    &::placeholder {
        color: #7F7F7F;
        font-size: 16px;
        font-weight: 600;
    }

    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: right 16px top 12px;

    &[name="name"] {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 22H5V20.1905C5 17.6921 6.95876 15.6667 9.375 15.6667H14.625C17.0412 15.6667 19 17.6921 19 20.1905V22ZM12 13.8571C9.1005 13.8571 6.75 11.4267 6.75 8.42857C6.75 5.43045 9.1005 3 12 3C14.8995 3 17.25 5.43045 17.25 8.42857C17.25 11.4267 14.8995 13.8571 12 13.8571Z' fill='black' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    }

    &[name="email"] {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12.0606 11.6829L5.64722 6.2377L4.35278 7.7623L12.0731 14.3171L19.6544 7.75616L18.3456 6.24384L12.0606 11.6829Z' fill='black' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    }
}

.auth_form {
    margin-bottom: 24px;
}

/* Options */
.auth_form_group_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.auth_remember {
    display: flex;
    align-items: center;
}

.auth_checkbox {
    margin-right: 8px;
    display: none;
}

.auth_checkbox_label {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    padding-left: 28px;
    position: relative;

    &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0.330078H12C14.0269 0.330078 15.6699 1.97311 15.6699 4V12C15.6699 14.0269 14.0269 15.6699 12 15.6699H4C1.97311 15.6699 0.330078 14.0269 0.330078 12V4C0.330078 1.97311 1.97311 0.330078 4 0.330078Z' fill='%23FDFDFD'/%3E%3Cpath d='M4 0.330078H12C14.0269 0.330078 15.6699 1.97311 15.6699 4V12C15.6699 14.0269 14.0269 15.6699 12 15.6699H4C1.97311 15.6699 0.330078 14.0269 0.330078 12V4C0.330078 1.97311 1.97311 0.330078 4 0.330078Z' stroke='%238A8A8A' stroke-width='0.66'/%3E%3C/svg%3E%0A");
        position: absolute;
        left: 0px;
        top: 0px;
        width: 16px;
        height: 16px;
        top: 2px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.active {
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4C0 1.79086 1.79086 0 4 0H12C14.2091 0 16 1.79086 16 4V12C16 14.2091 14.2091 16 12 16H4C1.79086 16 0 14.2091 0 12V4Z' fill='%233E6AE1'/%3E%3Cpath d='M4 0.330078H12C14.0269 0.330078 15.6699 1.97312 15.6699 4V12C15.6699 14.0269 14.0269 15.6699 12 15.6699H4C1.97312 15.6699 0.330078 14.0269 0.330078 12V4C0.330078 1.97312 1.97312 0.330078 4 0.330078Z' fill='%233E6AE1'/%3E%3Cpath d='M4 0.330078H12C14.0269 0.330078 15.6699 1.97312 15.6699 4V12C15.6699 14.0269 14.0269 15.6699 12 15.6699H4C1.97312 15.6699 0.330078 14.0269 0.330078 12V4C0.330078 1.97312 1.97312 0.330078 4 0.330078Z' stroke='%233E6AE1' stroke-width='0.66'/%3E%3C/svg%3E%0A");
        }
    }
}

/* Links */
.auth_forgot_link {
    font-size: 14px;
    font-weight: 500;
    color: #333333 !important;
    text-decoration: none !important;
}

/* Buttons */
.auth_btn {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    justify-content: center;
    text-decoration: none !important;
    border: 1px solid !important;
}

.auth_btn_primary {
    background: #3E6AE1;
    color: #fff !important;
}

.auth_btn_outline {
    background: #fff;
    color: #3E6AE1 !important;
}

/* Footer */

.auth_footer_text {
    font-size: 14px;
    color: #000;
    margin-bottom: 24px;
    margin-top: 24px;
    text-align: center;
}

.archive_post {
    .title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 24px;

        @include media-breakpoint-up(lg) {
            font-size: 32px;
            margin-bottom: 48px;
        }
    }
}

/* ===== Account CTA (Card) ===== */
.accountCTA {
    padding: 20px;
    width: 370px;
    background: #FAFAFA;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    z-index: 9;
}

.accountCTA_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.accountCTA_title {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.accountCTA_button {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E6AE1 !important;
    border-radius: 8px;
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none !important;
}

.accountCTA_footnote {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

.accountCTA_link {
    color: #3E6AE1 !important;
    text-decoration: underline !important;
}


// about us
.vinfast_block {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('../images/Frame_54.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vinfast_block_logo {
    text-align: center;
    margin-bottom: 36px;
}

.vinfast_block_logo_img {
    min-width: 392px;
    height: auto;
    object-fit: cover;
}

.vinfast_block_header_name {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.vinfast_block_header_sub {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #1a4faf;
    margin-top: 2px;
}

/* Gallery */
.vinfast_block_gallery {
    // display: flex;
    // gap: 12px;
    // margin-bottom: 24px;

    .row {
        --bs-gutter-x: 16px;
    }
}

.vinfast_block_gallery_item {
    flex: 1;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ddd;
}

/* Contact */
.vinfast_block_contact {
    display: flex;
    align-items: center;
    gap: 24px;
}

.vinfast_block_contact_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #000000;
}

.vinfast_block_contact_img {
    flex-shrink: 0;
}

.vinfast_block_contact_qr {
    width: 130px;
    height: auto;
    object-fit: cover;
}

.vinfast_block_gallery_img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.vinfast_block_contact_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.vinfast_block_slogan {
    margin-bottom: 52px;

    .row {
        --bs-gutter-x: 100px;
    }
}

.vinfast_block_contact_item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
}

.vinfast_block_contact_icon {
    width: 24px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
}

.vinfast_intro {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.vinfast_intro_bg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.vinfast_intro_left {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 100%;
}

.vinfast_intro_content {
    // flex: 1;
    // max-width: 50%;
}

.vinfast_intro_title {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 8px;
}

.vinfast_intro_company {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #000000;
}

.vinfast_intro_image {
    flex: 1;
    text-align: right;
}

.vinfast_intro_image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* ====== Vision block (scoped) ====== */
.vision_section_media {
    position: relative;
}

.vision_section_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.vision_section_overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, .62) 0%,
            rgba(0, 0, 0, .45) 35%,
            rgba(0, 0, 0, .10) 75%,
            rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

/* Container */
.vision_section_container {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    padding: 30px;

    .col-lg-3 {
        border-right: 1px solid #E6E6E6;

        &:last-child {
            border-right: none;
        }
    }
}

/* Card / Item */
.vision_item_icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
    flex: 0 0 22px;
}

/* Title & Description */
.vision_item_title {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}

.vision_item_desc {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.brand_history {
    padding-top: 60px;
    padding-bottom: 60px;
}

.brand_history_title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #000000;
    text-align: center;
}

.brand_history_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.brand_history_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.brand_history_image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
}

.brand_history_content {
    width: 100%;
}

.brand_history_date {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.brand_history_text {
    font-size: 16px;
    line-height: 1.5;
    color: #222;
}