.sign_up_consultation {
    background-color: $primary;
    padding: 14px 0px;

    .inner {
        position: relative;

        .text {
            font-size: 10px;
            font-weight: 700;
            color: #fff;
            text-align: center;
        }

        .icon {
            display: inline-flex;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
}

.header_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .global,
    .cart_icon {
        display: inline-flex;
        flex-shrink: 0;
        cursor: pointer;
    }

    .my_account {
        font-size: 14px;
        font-weight: 500;
        padding-left: 32px;
        color: #0A0A0A;
        cursor: pointer;
    }
}

.home_banner {
    .item {
        min-height: 70vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .content {
            padding-bottom: 127px;

            .title {
                font-size: 72px;
                font-weight: 700;
                color: #fff;
                margin-bottom: 8px;
                line-height: 1.1 !important;
            }

            .desc {
                font-size: 24px;
                color: rgba(#fff, 0.8);
                margin-bottom: 32px;
            }
        }
    }
}

.home_best_selling {
    .heading {
        margin: 0px;
        background: #F4F5F7;
        background: linear-gradient(270deg, rgba(244, 245, 247, 1) 0%, rgba(226, 231, 245, 1) 100%);

        .title {
            padding: 32px 0px;
            font-size: 32px;
            font-weight: 700;
            margin: 0px;
        }
    }

    .best_selling_slider {
        background: #F4F5F7;
        background: linear-gradient(172deg, rgba(244, 245, 247, 1) 30%, rgba(155, 176, 233, 1) 100%);

        .slick-current.slick-active {
            .content {
                opacity: 1;
            }
        }

        &.slick-dotted.slick-slider {
            margin-bottom: 50px;

            .slick-dots {
                bottom: -50px;
            }
        }

        .best_selling_item {
            padding: 50px 0px 85px 0px;
            text-align: center;

            .content {
                opacity: 0;
            }

            .title {
                font-size: 44px;
                font-weight: 700;
                margin-bottom: 0px;
            }

            .desc {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 24px;
            }

            .feature {
                margin-bottom: 32px;

                .row {
                    --bs-gutter-x: 24px;
                }

                .value {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 0px;
                }

                .title {
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 0px;
                }
            }

            .list_btn {
                display: flex;
                justify-content: center;
                gap: 16px;
                margin-bottom: 56px;
            }

            .img_wrap {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}


.home_about_us {
    padding: 24px 0px;

    .item_box {
        padding: 24px;
        background-color: #F6F7F9;
        border-radius: 12px;
        height: 100%;

        .title {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 12px;
        }

        .desc {
            margin-bottom: 24px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.home_box_cta {
    .inner {
        padding: 38px 24px;
        border-radius: 12px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        .content {
            .title {
                font-size: 32px;
                font-weight: 700;
                color: #FFFFFF;
                margin-bottom: 12px;
            }

            .desc {
                color: #FFFFFF;
                margin-bottom: 24px;
            }
        }
    }
}