// Bootstrap overrides
// $grid-gutter-width: 30px !default;

//grid breakpoints
$grid-breakpoints: (
  xs : 0,
  sm : 480px,
  md : 768px,
  lg : 1200px,
  xl : 1400px,
  xxl : 1600px
);

$container-max-widths: (
  sm : 480px,
  md : 768px,
  lg : 1200px,
  xl : 1200px,
  xxl : 1200px
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  // Add new value
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 8,
  mb: 40px,
  pc: 80px,
);

//base color
$body: #333333;
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;